@import "tailwindcss";

:root {
  --background: #f7f4ec;
  --foreground: #363833;

  --ivory: #f7f4ec;
  --cream: #fcfaf5;
  --sage: #7b846b;
  --sage-dark: #4f5745;
  --sage-light: #e8ebe1;

  --blush: #d9b8ae;
  --rose: #b98f86;

  --gold: #b6a274;

  --taupe: #a9a397;
  --border: #e5e0d5;

  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: var(--blush);
  color: var(--sage-dark);
}